body {
    background-color: black;
    color: white;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding-left: 2rem;
}

.main-body {
    padding-top: 5rem;
    padding-left: 5rem;
}

.main-body h2 {
    text-align: center;
}

.main-button {
    color: rgb(1, 1, 71);
    text-align: left; 
    margin-bottom: 20px;
}

.click-button {
    background-color: rgb(0, 10, 145);
    text-decoration-style: solid;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    font-size: larger;
    font-weight: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 0;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: grid;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 1000;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background: #1e1e2f;
    color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    z-index: 1001;
}

.modal-content {
    display: flex;
    flex-direction: column;
}

.modal-content h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

.modal-content label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.date-picker-container {
    display: flex;
    align-items: center;
    position: relative;
}

.date-picker {
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    flex-grow: 1;
}

.calendar-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #ccc;
    pointer-events: none;
}

.modal-buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.save-button {
    background-color: #00ff3c;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.cancel-button {
    background-color: #ff0019;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.save-button:hover, .cancel-button:hover {
    opacity: 0.8;
}


.table {
    max-height: 400px;
    text-align: left; 
    overflow-y: auto;
    position: relative;
}

.workout-prev-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #1e1e1e;
    color: #ffffff;
    margin-top: 20px;
    text-align: left;
}

.workout-prev-table thead {
    position: sticky;
    top: 0;
    background-color: #2b2b2b; 
    z-index: 1;
}

.workout-prev-table th, .workout-prev-table td {
    padding: 10px;
    text-align: center;
    border: none
}

.workout-prev-table tbody tr {
    cursor: pointer;
}

.workout-prev-table tbody tr:hover {
    background-color: #333;
}

.workout-prev-table tbody .selected {
    background-color: #555;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
}

.previous-workouts {
    align-items: start;
}

.right-panel {
    margin-left: 20px;
    display: flex;
}

.update-container, .progress-container {
    width: 100%;
}